<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.mapping.MerchandiseMapper">
    <insert id="insertMerchandise" parameterType="cn.com.entity.Merchandise" useGeneratedKeys="true" keyProperty="id">
        insert into merchandise(name,price,address,star,shop_id)
        values (#{name},#{price},#{address},#{star},#{shop_id})
    </insert>
    <select id="selectMerchandise" parameterType="java.lang.Integer" resultType="cn.com.entity.Merchandise">
        select * from merchandise where shop_id=#{shop_id}
    </select>
</mapper>